body,
* {
  margin: 0;
}

body {
  background: #f7f7f7;
}

@font-face {
  font-family: 'InterUI';
  src: url('../../assets/Inter-UI-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.app {
  box-sizing: border-box;
  max-width: 1010px;
  margin: 0 auto;
  background: #ffffff;
  min-height: 100vh;
  font-family: 'InterUI', sans-serif;
  color: red;
  font-size: 100px;
}
